<div class="logo-wrapper animate__animated animate__flipInY">
  <img id="logo" src="assets/logo.png" alt="logo">
</div>
<div class="home-wrapper">
  <div class="mytoast mytoast-success animate__animated animate__zoomIn" *ngIf="loginSuccess">
      Login Realizado
  </div>
  <div class="mytoast mytoast-error animate__animated animate__zoomIn" *ngIf="loginFailed">
    Login Inválido
  </div>

  <div class="wrapper">
    <div class="login-wrapper">
      <img id="user-icon" src="assets/user.png" class="animate__animated animate__zoomInRight" alt="user-logo">
      <form class="animate__animated animate__bounce">

        <input name="username" type="text" placeholder="usuário" [(ngModel)]="username">
        <input name="password" type="password" placeholder="senha" [(ngModel)]="password">
        <button (click)="logar()">Login</button>
        <div class="spinner spinner-border text-success" role="status" *ngIf="loginSuccess">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner spinner-border text-danger" role="status" *ngIf="loginFailed">
          <span class="visually-hidden">Loading...</span>
        </div>
      </form>
    </div>
  </div>

</div>
