.home-wrapper{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

img{
  width: 9%;
  height: 8rem;
  position: absolute;
  top: 8rem;
  right: 45%;
  box-shadow: 0px 10px 19px -9px rgb(49, 48, 48);
  border-radius:55%;
}

.mytoast{
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 19px -9px #000000;
  width:20%;
  height: 4rem;
  position:absolute;
  top: 4rem;
  right: 24rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.mytoast-success{
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.mytoast-error{
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: 5rem;
}

.login-wrapper{
  background: #403B4A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d6da92, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d6da92, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 40%;
  height: 35rem;
  margin-top: 7rem;
  margin-left: 30%;
  border-radius: 40px;
  transition: all 1s;

}
.login-wrapper:hover{
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 10px 10px rgb(26, 24, 24);
}


form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

input{
  margin-top: 2rem;
  transition: all 0.5s;
  height: 5rem;
  width: 70%;
  padding-left: 1rem;
  font-family: 'Quicksand';
  background-color: #021c7929;
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1.4rem;
  outline: none;
  border-radius: 10px;
  border: none;
}

input::placeholder{
  color: #000c4072 ;
}

input:focus{
  font-size: 2rem;
  outline: none;
  color: #000C40;
}

button{
  transition: all 0.5s;
  margin-top: 1.5rem;
  height:4rem;
  width: 50%;
  border-radius: 10px;
  border: none;
  color: rgb(125, 119, 119);
  background-color: rgb(49, 48, 48);

}

button:hover{
  width: 70%;
  box-shadow: 0px 4px 0px 3px  #797979;

  color: #D3CCE3;
}

.spinner{
  margin-top: 2rem;
}

