<div class="edit-wrapper">
  <h1 class="container ">Editar Curso</h1>
  <form class="container animate__animated animate__backInDown">
    <label for="curso.descricao">Descrição</label>
    <input type="text" name="curso.descricao" placeholder="{{ curso.descricao }}">

    <label for="curso.dateInicio">Data Inicio</label>
    <input type="date" name="curso.dateInicio" [(ngModel)]="curso.dateInicio" placeholder="{{ curso.dateInicio }}">

    <label for="curso.dateTermino">Data Termino</label>
    <input type="date" name="curso.dateTermino" [(ngModel)]="curso.dateTermino" placeholder="{{ curso.dateTermino }}">

    <label for="curso.qtdAlunos">Quantidade de Alunos</label>
    <input type="number" name="curso.qtdAlunos" [(ngModel)]="curso.qtdAlunos" placeholder="{{ curso.qtdAlunos }}">

    <button class="btn btn-primary" (click)="edit()">Teste</button>
  </form>
</div>
