
.spinner{
  background-color: rgb(53, 53, 53);
  position: absolute;
  top: 13rem;
  right: 27rem;
}

.mybtn{
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  z-index: 4;
  text-decoration: none;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #171340);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #171340); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgba(254, 216, 216, 0.536);
  width: 9%;
  border-radius:10px;
  transition: all 1s;
  padding: 0 1rem;

}

.mybtn:hover{
  padding-left: 1.9rem;
  color: #fff;
  box-shadow: 0px 4px 0px 3px  #302b63;
  /* box-shadow: 0px 12px 0px 4px rgb(71, 71, 71); */

}

.btn-logout{
  border-radius:10px;
  margin: 0 auto;
  width: 40%;
  text-decoration: none;
  border: 1px solid black;
  color: #fff;
  padding: .1rem;
}

.btn-sair{
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #93291E, #ED213A);
  margin-bottom: 1rem;
  color: #fff;
  border:none;
  transition: all 1s;
}

.btn-sair:hover{
  box-shadow: 0px 4px 0px 3px  #ed2165;

}

.btn-cancel{
  color: grey ;
  transition: all 1s;
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #c5cacb, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
}

.btn-cancel:hover{
  color: black;
  box-shadow: 0px 4px 0px 3px  rgba(255, 255, 255, 0.751);


}

.card-body{
  height: 12rem;
  width: 30%;
  margin-left: 69%;
  margin-top: 3.5rem;
  border-radius: 20px;
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #adb4b6, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #adb4b6, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav{
  padding-top: .5rem;
  width: 40%;
  margin-inline: 30%;
  height: 5rem;


}

.nav{
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1e1f20, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1e1f20, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 1rem;
  width: 100%;
  border-radius: 20px;
  transition: all 1s;
}

.nav:hover{
  box-shadow: 0px -3px 0px 1px rgb(71, 71, 71);

}

a{
  color: rgba(239, 234, 234, 0.786);
  transition: all .7s;
}

a:hover{

  color: #1e1f20;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 20px;
  background-color: #fff;
}
