.logs-wrapper
{
  height: 100vh;
  width: 100%;
}

h1{
  color: #fff;
}

.conteudo{
  background-color: #4c67c729;
  width: 95%;
  height: 40rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 10px
}
